body{
    background-color: lightcyan;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
 color: darkred;
 text-align: center;
}
h1 {
    text-align: center;
    font-weight: bold;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
}

ul {
    display: inline-block;
    text-align: left;
}

ol {
    display: inline-block;
    text-align: left;
}
